PORT=3005
NODE_ENV=production

FRONTEND_URL=http://localhost:3000
LAPRAS_SERVER_URL=http://localhost:3005

DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_GENERATIVE_AI_API_KEY=
LAPRAS_MODEL=gemini-2.5-flash
